#header-img{
    padding-left: 50px;
}
*{
    margin: 0;
    padding: 0;
}
body{
    position: relative;
}
#form{
    padding-top:50px ;
}
#info{
    display: flex;
    padding-top: 100px;
    padding-bottom: 20px;
}
#header{
    display: flex;
    background-color: aqua;
   height:auto;
   width: 100vw;
   position: fixed;
   flex-wrap: wrap;
}
#dir{
    display: flex
    
}
nav ul li{
    list-style:none ;
    margin: 5px;
}
#regi{
    color: red;
}