nav ul{
    display: flex;
    justify-content: flex-end;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    }
nav ul li{
    list-style:none;
    margin: 2px;
    padding:2px;
    flex-shrink: 0;
}
*{
    margin: 0;
}
.middle{
    display: flex;
    align-items: center;
    justify-content: center; 
    border: 2px solid black;
    flex-grow: 1;
}
.logo{
    background: red;
    height: 150px;
    width: 70%;
}
.down{
    background: rgb(183, 178, 178);
    padding: 10px 5px;
    border-bottom: 2px solid grey;
}
.footer{
    display:flex ;
    flex-shrink: 0
}
.bar{
    background: blue;
    height: 100px;
    width: 100px;
}


