.main{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    /* 1fr 1fr 1fr  */
    grid-template-rows: 300px 250px 200px;
    
}
.main div:nth-child(2n){
    background-color: red;
    border: 2px solid black;
    height: 100px;
    width: 100px;
}
.main div:nth-child(2n+1){
    background-color: blue;
    border: 2px solid black;
    height: 100px;
    width: 100px;

}
